@import url('fonts.css');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'ABeeZee';
    scroll-behavior: smooth;
    /* background-color: #001961; */
}

* {
  box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

body {
    background-color: white;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.event-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 180px;
    padding: 0 20px;
}

.event-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #222755; 
    /* text-align: center; */
}

.event-subtitle {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0173be; 
}
iframe {
    border: none;
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust gap between images as needed */
    padding: 20px; /* Optional: add padding around the container */
}

.eventimage {
    border-radius: 20px;
    width: 500px; 
    height: 300px;
}
