@import url('fonts.css');
@import '~bootstrap/dist/css/bootstrap.min.css';


html,
body {
    padding: 0;
    margin: 0;
    font-family: 'ABeeZee';
    scroll-behavior: smooth;
    /* background-color: #001961; */
}

* {
  box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

body {
    background-color: white;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.event-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 180px;
    padding: 0 20px;
}

.event-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #222755; 
    /* text-align: center; */
}

.event-subtitle {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #222755; 
    margin: 0; 
    padding-right: 10px;
    text-align: center;
    padding-left: 10px;
}
iframe {
    border: none;
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust gap between images as needed */
    padding: 20px; /* Optional: add padding around the container */
}

.eventimage {
    border-radius: 20px;
    width: 500px; 
    height: 300px;
}

.subtitle-container {
    display: flex;
    align-items: center;
    margin-top:30px;
    margin-bottom: 30px;
  }

  
  .line {
    flex-grow: 1; /* Makes the line take up remaining space */
    border: none;
    border-top: 3px solid #222755; /* Adjust thickness and color */
    margin: 0;
  }

  .background-container {
    position: relative;
    height: 100vh; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/event-assets/past.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust opacity as needed */
    z-index: -1; /* Places the image behind the text */
  }
  
  .overlay-text {
    position: relative;
    color: #222755;
    font-size: 5rem; /* Adjust font size as needed */
    text-align: center;
    padding: 20px;
    border-radius: 10px; /* Optional: rounded corners */
  }
  
  